

.article-container {
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .article-form {
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;

  }

 .hidden {
    display: none;
  }
  
  .article-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .article-form input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .article-create-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
  }
  
  .article-create-button:hover {
    background-color: #3e8e41;
  }
  
  .article-delete-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .article-delete-button:hover {
    background-color: #da190b;
  }
  
  .articleList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .article-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-synopsis {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .article-url {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #createArticle {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
  }

  .articleHead {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #E8F5E9;
    margin-bottom: 10px;
  }

  .title-container {
    padding: 10px;
    display: inline-block;
  }


  .brewHead {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #4214e9;
    border-radius: 10px;
    background-color: #007bff;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  
  #search-brewery {
   flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  #search-brewery label {
    margin-bottom: 10px;
  }
  
  #search-brewery input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #search-brewery button {
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #007bff;
  }

  .brewery-container {
    border: solid thin black;
    color: black;
  }
  

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #333;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  display: block;
  padding: 0 10px;
}

nav ul li a:hover {
  background-color: #555;
}





  
  
  