

.article-container {
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .article-form {
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;

  }

 .hidden {
    display: none;
  }
  
  .article-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .article-form input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .article-create-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
  }
  
  .article-create-button:hover {
    background-color: #3e8e41;
  }
  
  .article-delete-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .article-delete-button:hover {
    background-color: #da190b;
  }
  
  .articleList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .article-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-synopsis {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .article-url {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #createArticle {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
  }

  .articleHead {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #E8F5E9;
    margin-bottom: 10px;
  }

  .title-container {
    padding: 10px;
    display: inline-block;
  }


  .brewHead {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #4214e9;
    border-radius: 10px;
    background-color: #007bff;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  
  #search-brewery {
   flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  #search-brewery label {
    margin-bottom: 10px;
  }
  
  #search-brewery input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #search-brewery button {
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .brewery-container {
    border: solid thin black;
    color: black;
  }
  

  nav {
    display: flex;
    justify-content: flex-start;
    
  }
  
  .dropdown {
    position: relative;
    display: flex;
   
  }
  
  .dropdown-btn {
    background-color: #45025f;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: cell;
    padding: 14px 16px;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 160px;
    background-color: #f2f2f2;
    box-shadow: 0px 25px 35px 0px rgba(73, 202, 241, 0.2);
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  
  
  