.article-container {
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .article-form {
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    
  }
  
  .article-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .article-form input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .article-create-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
  }
  
  .article-create-button:hover {
    background-color: #3e8e41;
  }
  
  .article-delete-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .article-delete-button:hover {
    background-color: #da190b;
  }
  
  .articleList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .article-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-synopsis {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .article-url {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #createArticle {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
  }

  .articleHead {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #E8F5E9;
    margin-bottom: 10px;
  }

  .title-container {
    padding: 10px;
    display: inline-block;
  }

  .hidden {
    display: none;
  }
  
 /* Button styles */
.brewery-search-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.2s ease;
}

.brewery-search-button:hover {
  background-color: #0062cc;
}

/* Form styles */
.brewery-form {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;

  flex-direction: column;
  padding: 10px;
}

.brewery-form .label {
  font-size: 16px;
  margin-bottom: 5px;
}

.brewery-form .input {
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
}

.brewery-form .button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.2s ease;
}

.brewery-form .button:hover {
  background-color: #0062cc;
}

.brewHead {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  align-content: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #007bff;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  margin-bottom: 10px;
}

.brew {
  padding: 10px;
  display: inline-block;
}



  
  
  